body {
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #000000; 
}

h2 {
    background-color: #e9ecef;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.form-group, .form-row {
    margin-bottom: 10px;
}

.form-control {
    font-size: 14px;
    padding: 5px 10px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
}

.btn {
    font-size: 14px;
}

.alert {
    font-size: 14px;
    padding: 10px;
}

.form-check-label img {
    max-width: 30px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
